<section class="section-standard aboutuspage">

<h1> <span class="maroon">Introducing</span> Fit<span class="maroon">meets</span> </h1>

</section>

<section class="aboutus-hero">


</section>






<section class="section-standard aboutus">


  <p>
FITMEETS allows users to organise their own sports events and gather people of the same interests to participate in the event. Users can also join other events that they are interested
to join in. Whenever a user join an event, they will get a notification email. They can also use the search to search for events that is within the website.
  </p>




</section>

<div style="clear:both;"></div>

<section class="section-standard aboutuspage">

  <h1> The <span class="maroon">Team</span> </h1>

</section>
