<section class="section-standard">

  <h1> Edit Comment </h1>

<%= form_for ([@event, @comment]) do |f| %>
  <%= f.text_area :message %>
  <%= f.submit 'Update', :class => 'comment-submit' %>

<% end %>

</section>
