<h1> hello calendar here </h1>

<%= month_calendar do |date| %>
  <%= date %>

  <% @events.each do |event| %>
    <div>
      <%= event.event_name %>
        <%= event.event_date %>
    </div>

  <% end %>
<% end %>
