<section class="section-standard">
<h1> View Events By <span class="maroon">Calendar</span></h1>

<%= month_calendar do |date| %>
  <%= l date.to_date, format: :customformat %>


  <% @events.each do |event| %>
    <% if Date.parse(l date) === Date.parse(event.event_date) %>
    <div class="maroon">
      <a href="/events/<%= event.id %>"><%= event.event_name %></a>
    </div>

  <% end %>
    <% end %>
<% end %>

</section>
