<header id="hero-intro">
  <div class="inner-text">
    <p class="p1">CREATE</p>
    <p class="p2">EVENTS</p>
  </div>
</header>

<script type="text/javascript">
$(function() {
  $(".p1").typed({
    strings: ["JOIN", "ORGANISE", "ARCHIVE YOUR"],
    typeSpeed: 50,
    backSpeed: 10,
    backDelay: 2000,
    showCursor: false,
    loop: true
  });
});
</script>
