<section id="upcoming-events" class="section-standard">

  <h1> <span class="maroon">My</span> Organised Events </h1>

  <%= react_component('UserEvents', { events: @events, user: @user, eventusers: @eventusers }) %>

  <h1> <span class="maroon">My</span> Joined Events </h1>

<%= react_component('UserJoinedEvents', { events: @events, user: @user, events_join: @events_join }) %>

</div>
