<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>About Us</h1>
      <p>
        We are a startup dedicated to allow our community to have sports meetups anytime and anywhere.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Locate Us</h1>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.779158581554!2d103.82957691475393!3d1.3077118990462098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da198d35873849%3A0x3a23fa3bd151effb!2s8+Claymore+Hill%2C+Singapore+229572!5e0!3m2!1sen!2ssg!4v1480593103698" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
