  <section id="all-events" class="section-standard">
    <h1> <span class="maroon">Events</span> Available </h1>

    <div class="container">
      <%= form_tag events_path, :method => 'get', class: "navbar-form navbar-left search-form" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
        <%= submit_tag "Search"%>
      <% end %>

    </div>


  <%= react_component 'Events', { events: @events } %>

</section>
