<%= render 'partials/herointro' %>

<br/><Br/>

<%= react_component 'Event', {event: @event} %>

<div style='clear:both;'></div>

<hr/>

<%= render 'comments/form' %>


<%= render 'comments/comment' %>
