$btn-text-shadow: 0px 1px 1px #888;
$btn-font-weight: 'bold';
$btn-font-size: 16px;
$btn-line-height: 30px;
$btn-border-radius: 6px;
$btn-moz-border-radius: 6px;
$btn-webkit-border-radius: 6px;
$navbar-font: 'Poppins', sans-serif;
$fitmeets-grey: #fff;
$fitmeets-black: #000000;
$fitmeets-maroon: #800000;
$btn-left-color: #9e3737;


.standard-btn{
font-family: $navbar-font;
}

a.standard-btn{color: #fff; text-decoration: none !important;}

a.standard-btn:hover {
  color: #fff;
}

.standard-btn span.title:hover{
  color:#ffffff;
    border: 4px solid white;
}

.standard-btn span.title {
    background:rgba(0,0,0,0.7);
    border: 4px solid $fitmeets-maroon;
}

.standard-btn span.left {
  padding: 10px;
}

.col-md-5.information-eventdetails .football, .col-md-5.information-eventdetails .badminton, .col-md-5.information-eventdetails .volleyball, .col-md-5.information-eventdetails .tennis, .col-md-5.information-eventdetails .bowling {
    display: inline-block;
}

.football{
    background: image-url('ic-football.svg');
    background-size: 30px 30px;
    display: block;
   text-indent: -9999px;
   width: 30px;
   height: 30px;
   margin: 0 auto;
   margin-top:10px;
}

.badminton{
  background: image-url('ic-badminton.svg');
  background-size: 30px 30px;
  display: block;
 text-indent: -9999px;
 width: 30px;
 height: 30px;
 margin: 0 auto;
 margin-top:10px;
}

.volleyball{
  background: image-url('ic-volleyball.svg');
  background-size: 30px 30px;
  display: block;
 text-indent: -9999px;
 width: 30px;
 height: 30px;
 margin: 0 auto;
 margin-top:10px;
}

.tennis{
  background: image-url('ic-tennis.svg');
  background-size: 30px 30px;
  display: block;
 text-indent: -9999px;
 width: 30px;
 height: 30px;
 margin: 0 auto;
 margin-top:10px;
}

.bowling{
  background: image-url('ic-bowling.png');
  background-size: 30px 30px;
  display: block;
 text-indent: -9999px;
 width: 30px;
 height: 30px;
 margin: 0 auto;
 margin-top:10px;

}

a.standard-btn-withicon {
    color: black;
    margin-right: 9px;
    text-decoration: none;
}

a.standard-btn-withicon:hover{
  text-decoration: none;
  color: $fitmeets-maroon;
}
