@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

$navbar-padding: 20px;
$navbar-background: #fff;
$navbar-border-bottom: 2px solid #F39200;
$fitmeets-grey: #fff;
$fitmeets-black: #000000;
$fitmeets-maroon: #b03060;
$navbar-font: 'Poppins', sans-serif;
$fjalla-font: 'Fjalla One', sans-serif;
$navbar-font-weight: 400;
$navbar-text-transform: uppercase;

body { padding-top: 150px;}
footer {margin-top: 100px;}
table,td,th {vertical-align:middle; border:none;}

th{border-bottom: 1px solid #DDD;}

a.navbar-brand img {
    max-width: 150px;
    position: relative;
    top: 19px;
}



@mixin links($link, $visit, $hover, $active){
 a {
     color: $link;
     &:visited {
       color: $visit;
     }
     &:hover {
       color: $hover;
     }
     &:active {
       color: $active;
     }
   }

}

.fitmeets-flasher {
    position: absolute;
    right: 0px;
}

li.welcome-current {
    margin-top: 16px;
}

.navbar-toggle.fitmeets-toggle{
  border: 0px;
}

.navbar-toggle.fitmeets-toggle .icon-bar{
  background-color: $fitmeets-grey;
}

.fitmeets-nav-main{
  font-family: $navbar-font;
  font-weight: $navbar-font-weight;
  padding: $navbar-padding;
  background-color: $fitmeets-grey !important;
  border-bottom: $navbar-border-bottom;

}

.navbar-brand img {
    max-width: 100%;
    background-repeat: no-repeat;
    margin-top: -26px;
}

@media screen and (min-width:768px){
  .navbar-right {
    float: right !important;
    margin-right: 95px;
}
}

.navbar-nav.fitmeets-nav{

  @include links($fitmeets-maroon,$fitmeets-maroon,$fitmeets-black !important,$fitmeets-grey)

}

.fitmeets-nav .dropdown {
    float: left !important;
    margin-left: 10px;
    margin-top: 8px;
}

@media screen and (max-width:767px){
  .fitmeets-nav .dropdown {
    float: none !important;
    margin-left:0px !important;
    margin-top: 0px !important;
}
}

.navbar-right .dropdown-menu {
    right: inherit;
    left: inherit;
}

.navbar-nav.fitmeets-nav{
  li {

    a{
      color: $fitmeets-grey;
      text-transform: $navbar-text-transform;
    }

    a.glyphicon:before {
       margin-right: 3px;
   }

    a:active {
      background-color: transparent;
    }

    a:hover{
      color: $fitmeets-maroon;
    }

  }

}

.btn-primary {
    color: $fitmeets-grey;
    background-color: transparent;
    border-color: transparent;

    &:active{
      background-color: transparent;
      border-color: transparent;

    }
}

.dropdown-menu{

  li a {
  text-transform: $navbar-text-transform;
}

}

button.btn.btn-primary.dropdown-toggle {
    text-transform: $navbar-text-transform;
    margin-top: -1px;
}

.btn-fitmeets:active {box-shadow: none !important}
.btn-fitmeets:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
  }

  .btn-fitmeets:active:hover, .btn-fitmeets:active:focus{
    background-color: transparent;
    border-color: transparent;
  }

  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    background-color: transparent;
    border-color: transparent;
    color: $fitmeets-grey;
  }

  .btn-fitmeets:active, .btn-fitmeets:focus{
    color: #fff;
    background-color: transparent;
    border-color: transparent;
  }

.dropdown{ text-transform: $navbar-text-transform;}

.dropdown-submenu {
  position: relative;
   .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }
  &:hover {
     .dropdown-menu {
      display: block;
    }
     a:after {
      border-left-color: #fff;
    }
  }
  a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }
  &.pull-left {
    float: none;
     .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;
    }
  }
}

.triangle {
    border-style: solid;
    border-width: 0 0 6rem 60rem;
    border-color: transparent transparent #FEFEFE transparent;
    height: 0;
    position: absolute;
    top: -6rem;
    width: 0;
}

.lead {
    color: #FEFEFE;
    font-size: 1.125rem;
    line-height: 1.5;
}

header#hero-intro{
  background-size:cover;
  min-height:400px;
  margin-top:-80px;
    background: #EE6A5B url(https://d1w5usc88actyi.cloudfront.net/wp-content/uploads/2011/08/02_AdamPretty.jpg);
}

.hero-title {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 2rem;
    max-width: 960px;
    text-align: center;

    h1{
      font-family: $fjalla-font;
      font-size: 80px !important;
      text-transform:uppercase;
      color: #fff !important;
    }

    p{
    color: #1e1a1b;
    text-transform: lowercase;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    left: 0;
    width: 100%;

    }
}

.inner-text {
  text-align:center;
  position: relative;
  padding-top:120px;
  margin: 0 auto;
  font-size: 50px;
  @media only screen and (min-width: 320px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media only screen and (min-width: 400px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media only screen and (min-width: 680px) {
    font-size: 75px;
  }
  @media only screen and (min-width: 950px) {
    font-size: 100px;
  }
}

.p1 {
  display: inline-block;
  font-size: 0.7em;
  font-weight: 900;
  margin: 0;
  line-height: 1;
color: white;
text-shadow: 0 1px 0 #ccc,
             0 2px 0 #c9c9c9,
             0 3px 0 #bbb,
             0 4px 0 #b9b9b9,
             0 5px 0 #aaa,
             0 6px 1px rgba(0,0,0,.1),
             0 0 5px rgba(0,0,0,.1),
             0 1px 3px rgba(0,0,0,.3),
             0 3px 5px rgba(0,0,0,.2),
             0 5px 10px rgba(0,0,0,.25),
             0 10px 10px rgba(0,0,0,.2),
             0 20px 20px rgba(0,0,0,.15);
  @media only screen and (max-width: 465px) {
    display: block;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.p2 {
  display: inline-block;
  font-size: 0.7em;
  font-weight: 100;
  margin: 0;
  line-height: 1;
  color: $fitmeets-maroon;
  @media only screen and (max-width: 465px) {
    position: relative;
    top: 0.6em;
  }
}
